@import "visual";
@media screen and (min-width: 1120px) {
  .wrapper {
    background-color: var(--grey-light);
    padding-bottom: 150px;
    .mainContent {
      display: flex;
      gap: 30px;
      main {
        @include main;
        @media (max-width: 1439px) {
          width: calc(100% - 360px);
        }
        .timeSet {
          @include section;
          .timeTitle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 30px;
            width: 100%;
            span {
              @include collapsibleArrow;
            }
          }
          .timeSelect {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            overflow: hidden;
            height: 35px;
            &.active {
              overflow: auto;
              height: max-content;
            }
            li {
              @include timeSetButton;
              overflow: hidden;
              width: clamp(120px, 7.18vw, 138px);
              label {
                @include timeSet-Radio;
                cursor: pointer;
                user-select: none;
              }
            }
          }
        }
        .categories {
          @include categoryList;
          .categoryList {
            justify-content: flex-start;
          }
        }
        .confirmation {
          @include section;
          .confirmationForm {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            @media (max-width: 1439px) {
              .bannerWrapper {
                display: none;
              }
              form {
                width: 64.48vw !important; //redefine style
                .form-group {
                  .radio-group {
                    width: 100% !important; //redefine style
                  }
                }
                #deliveryForm {
                  .form-group {
                    width: max-content;
                    #street {
                      width: clamp(520px, 46.42vw, 808px) !important; //redefine style
                    }
                    #house {
                      width: clamp(100px, 12.79vw, 240px) !important; //redefine style
                    }
                    #entrance, #place, #codeOfDoor, #floor {
                      width: clamp(330px, 29.46vw, 450px) !important; //redefine style
                    }
                  }
                }
                .checkout {
                  width: clamp(340px, 31.27vw, 450px) !important; //redefine style
                }
              }
            }
            .bannerWrapper {
              width: auto;
              height: max-content;
              img {
                border-radius: 4px;
                max-width: 100%;
                max-height: 100%;
                height: 100%;
                width: 100%;
              }
            }
            form {
              width: clamp(385px, 34.37vw, 660px);
              display: flex;
              flex-direction: column;
              gap: 20px;
              .flex-container {
                display: flex;
                gap: 20px;
                .form-group {
                  width: 100%;
                  height: 35px;
                  input {
                    border: 1px var(--grey-dark) solid;
                    outline: none;
                    width: 100%;
                    font-size: clamp(14px, 0.83vw, 16px);
                    padding-left: 15px;
                    border-radius: 4px;
                    &::placeholder {
                      font-size: clamp(12px, 0.83vw, 16px);
                    }
                  }
                }
              }
              .form-group {
                display: flex;
                justify-content: space-between;
                .radio-group {
                  display: flex;
                  align-items: center;
                  position: relative;
                  width: clamp(243px, 16.14vw, 310px);
                  height: 35px;
                  padding-left: 15px;
                  span {
                    font-weight: 500;
                    font-size: clamp(14px, 0.83vw, 16px);
                  }
                  label {
                    @include radioButton;
                    position: absolute;
                    right: 30px;
                    top: 10px;
                  }
                }
              }
              #deliveryForm {
                @include deliveryForm;
                .form-group {
                  display: flex;
                  flex-direction: column;
                  gap: 15px;
                  width: max-content;
                  label {
                    font-weight: 600;
                    font-size: clamp(14px, 0.83vw, 16px);
                  }
                  #street {
                    width: clamp(200px, 27.08vw, 520px);
                  }
                  #house {
                    width: clamp(20px, 5.2vw, 100px);
                  }
                  #entrance, #place, #codeOfDoor, #floor {
                    width: clamp(100px, 16.14vw, 310px);
                  }
                }
              }
              #pickupForm {
                .targetItem {
                  @include pickupTarget;
                  width: 100%;
                  font-size: clamp(14px, 0.83vw, 16px);
                }
              }
              .checkout {
                @include buttonAnc;
                width: max-content;
                padding: 0 40px;
              }
            }
          }
        }
      }
      aside {
        @include aside;
      }
    }
  }
}
@media screen and (max-width: 1119px) and (min-width: 720px) {
  .wrapper {
    background-color: var(--grey-light);
    padding-bottom: 150px;
    .mainContent {
      display: flex;
      gap: 30px;
      main {
        @include main;
        width: 100%;
        .timeSet {
          @include section;
          .timeTitle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 30px;
            width: 100%;
            span {
              @include collapsibleArrow;
            }
          }
          .timeSelect {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            overflow: hidden;
            height: 35px;
            &.active {
              overflow: auto;
              height: max-content;
            }
            li {
              @include timeSetButton;
              overflow: hidden;
              width: clamp(119px, 11.79vw, 132px);
              label {
                @include timeSet-Radio;
                cursor: pointer;
                user-select: none;
              }
            }
          }
        }
        .categories {
          @include categoryList;
          .categoryList {
            justify-content: flex-start;
            .categoryCard {
              width: clamp(119px, 11.79vw, 132px);
            }
          }
        }
        .confirmation {
          @include section;
          .confirmationForm {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            .bannerWrapper {
              display: none;
            }
            form {
              width: 100%;
              display: flex;
              flex-direction: column;
              gap: 20px;
              .flex-container {
                display: flex;
                gap: 20px;
                .form-group {
                  width: 100%;
                  height: 35px;
                  input {
                    @include inputField;
                    width: 100%;
                    font-size: 14px;
                    &::placeholder {
                      font-size: 12px;
                    }
                  }
                }
              }
              .form-group {
                display: flex;
                justify-content: space-between;
                gap: 20px;
                .radio-group {
                  display: flex;
                  align-items: center;
                  position: relative;
                  width: 100%;
                  height: 35px;
                  padding-left: 15px;
                  span {
                    font-weight: 500;
                    font-size: clamp(14px, 0.83vw, 16px);
                  }
                  label {
                    @include radioButton;
                    position: absolute;
                    right: 30px;
                    top: 10px;
                  }
                }
              }
              #deliveryForm {
                @include deliveryForm;
                gap: 20px;
                .form-group {
                  display: flex;
                  flex-direction: column;
                  gap: 15px;
                  width: max-content;
                  label {
                    font-weight: 600;
                    font-size: 14px;
                  }
                  #street, #house, #entrance, #place, #codeOfDoor, #floor {
                    width: clamp(327px, 45.39vw, 508px);
                  }
                }
              }
              #pickupForm {
                &.active {
                  display: flex;
                  flex-wrap: wrap;
                  gap: 20px;
                }
                .targetItem {
                  @include pickupTarget;
                  width: calc(50% - 10px);
                  font-size: 14px;
                }
              }
              .checkout {
                @include buttonAnc;
                width: 50%;
                padding: 0 40px;
              }
            }
          }
        }
      }
      .openCart {
        @include openCart;
        right: 20px;
        transition: right 0.3s;
        &.active {
          right: 380px;
          transition: right 0.4s;
        }
      }
      aside {
        @include aside;
        position: fixed !important; //redefine style
        z-index: var(--header-layer);
        top: 125px !important; //redefine style
        right: -360px;
        transition: right 0.3s;
        &.active {
          right: 0;
          transition: right 0.4s;
        }
        .promoCode {
          display: none;
        }
        .cart {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 719px) {
  .wrapper {
    .mainContent {
      main {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px 0 25px 0;
        .confirmTitle {
          margin-top: 30px;
          .titleContent {
            h1 {
              font-weight: 600;
              font-size: 24px;
            }
          }
        }
        .cart {
          .cartContent {
            background-color: var(--grey-light);
            display: flex;
            flex-direction: column;
            gap: 30px;
            border-radius: 10px;
            padding: 15px;
            .cartHeader {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              span {
                font-weight: 500;
                font-size: 18px;
              }
            }
            .cartList {
              display: flex;
              flex-direction: column;
              gap: 20px;
              .emptyMessage {
                @include emptyMessage;
              }
              .cartItem {
                display: flex;
                justify-content: space-between;
                position: relative;
                width: 100%;
                height: max-content;
                border-radius: 10px;
                .itemDesc {
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
                  font-weight: 600;
                  .itemName {
                    max-width: 195px;
                    font-size: clamp(12px, 1.94vw, 14px);
                  }
                  .itemComposition {
                    font-size: clamp(12px, 1.94vw, 14px);
                  }
                }
                .itemPrice {
                  white-space: nowrap;
                  font-weight: 600;
                  font-size: clamp(12px, 1.94vw, 14px);
                }
                .removeItem, .itemChanges {
                  position: absolute;
                  bottom: 15px;
                }
                .removeItem {
                  background-color: inherit;
                  left: 15px;
                }
                .itemChanges {
                  @include itemChanges;
                  width: clamp(80px, 15.02vw, 108px);
                  right: 15px;
                }
              }
            }
            .orderInfo {
              border-top: 2px var(--grey-dark) solid;
              display: flex;
              flex-direction: column;
              text-align: center;
              gap: 15px;
              font-weight: 600;
              font-size: 16px;
              padding-top: 20px;
              .orderSum {
                font-size: clamp(12px, 1.94vw, 14px);
              }
              .promoCode {
                @include promoCode;
                position: relative;
                input {
                  font-size: clamp(12px, 1.94vw, 14px);
                }
                button {
                  font-size: clamp(12px, 1.96vw, 14px);
                  width: 108px;
                }
              }
            }
          }
        }
        .confirmContent {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .clientData {
            padding: 0 15px;
            @media (max-width: 360px) {
              padding: 0;
            }
            .clientRow {
              border-top: 2px var(--grey-dark) solid;
              &:first-child {
                border-top: none;
              }
              display: flex;
              flex-direction: column;
              gap: 10px;
              padding: 20px 0;
              .deliveryHead, .pickupHead {
                display: flex;
                justify-content: space-between;
                position: relative;
                width: 100%;
                span {
                  font-weight: 500;
                  font-size: clamp(12px, 1.94vw, 14px);
                }
                label {
                  @include radioButton;
                  position: absolute;
                  top: 0;
                  right: 15px;
                }
              }
              .editData {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
              }
            }
            .clientRow, .deliveryRow, .pickupRow {
              display: flex;
              flex-direction: column;
              gap: 10px;
              position: relative;
              span {
                font-weight: 600;
                font-size: clamp(12px, 1.94vw, 14px);
              }
              .editData {
                position: absolute;
                right: 0;
              }
            }
          }
          .confirmButton {
            display: flex;
            a {
              @include buttonAnc;
              width: 100%;
              .totalSum {
                padding-left: 5px;
              }
            }
          }
        }
      }
    }
    .openCart {
      display: none;
    }
  }
}