@import "visual";
@media screen and (max-width: 719px) {
  .wrapper {
    main {
      padding-top: 30px;
      .address {
        .addressContent {
          display: flex;
          flex-direction: column;
          gap: 15px;
          h1 {
            font-weight: 600;
            font-size: 24px;
          }
          form {
            @include deliveryForm;
            width: 100%;
            .form-group {
              width: max-content;
              #street {
                width: clamp(215px, 67.17vw, 483px);
              }
              #house {
                width: clamp(41px, 12.79vw, 92px);
              }
              #entrance, #place, #codeOfDoor, #floor {
                width: clamp(128px, 40.05vw, 288px);
              }
            }
          }
        }
      }
      .delivery {
        margin-top: 30px;
        .deliveryContent {
          display: flex;
          flex-direction: column;
          gap: 15px;
          padding-bottom: 25px;
          .collapsible {
            display: flex;
            flex-direction: column;
            gap: 15px;
            span {
              font-weight: 600;
              font-size: 12px;
            }
            .deliveryTime {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              gap: 15px;
              li {
                display: none;
                overflow: hidden;
                label {
                  @include timeSet-Radio;
                }
              }
              li.visible, .showMore button {
                @include timeSetButton;
              }
            }
          }
          button {
            @include whiteButton;
            width: 100%;
            height: 40px;
          }
          button[type='submit'] {
            @include buttonAnc;
            width: 100%;
          }
        }
      }
    }
  }
}