@import "mixins";
@import "vars";
@media screen and #{$ui-header} {
  header {
    @include header;
    height: 122px;
    .headerContent {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px $color-lightgrey solid;
      .logo {
        @include logo;
        max-width: 225px;
        width: 11.71vw;
      }
      .headerNav {
        display: flex;
        align-items: center;
        gap: clamp(20px, 1.66vw, 32px);
        height: 100%;
        li {
          font-family: var(--normal);
          color: $color-black;
          height: inherit;
          align-content: center;
          font-weight: 400;
          line-height: 29px;
          width: max-content;
          font-size: clamp(16px, 1.25vw, 24px);
          &.active {
            border-bottom: 2px var(--red) solid;
          }
          &.callUs {
            display: none;
          }
        }
      }
      .callUs {
        display: flex;
        align-items: center;
        height: 100%;
        .phoneIcon {
          @include roundIcon;
          width: 50px;
          height: 50px;
        }
        .phoneNumbers {
          font-family: var(--normal);
          color: $color-black;
          display: flex;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          line-height: 19px;
          gap: 10px;
          width: 184px;
          height: inherit;
        }
      }
      .userMenu {
        display: flex;
        align-items: center;
        gap: 30px;
        max-width: 360px;
        height: inherit;
        a {
          .userIcon {
            @include roundIcon;
            width: 50px;
            height: 50px;
          }
        }
        .search {
          background-color: $color-lightgrey;
          display: flex;
          overflow: hidden;
          width: 280px;
          height: 50px;
          border-radius: 20px;
          button, input {
            background-color: inherit;
            height: inherit;
          }
          button {
            @include searchButton;
          }
          input {
            font-family: var(--normal);
            color: $color-black;
            outline: none;
            font-size: $font-18-static;
            padding-left: 12px;
            &::placeholder {
              color: $color-dark;
            }
          }
        }
      }
      button.burgerIcon {
        display: none;
      }
    }
  }
}
@media screen and #{$ui-header-interval} {
  header {
    @include header;
    height: 90px;
    .headerContent {
      @include headerContent;
      border-bottom: 1px $color-lightgrey solid;
      .logo {
        @include logo;
        position: absolute;
        width: clamp(107px, 11.71vw, 225px);
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      .headerNav {
        background-color: $color-white;
        color: $color-white;
        display: flex;
        align-items: center;
        &.active {
          color: $color-black;
          top: 90px;
          transition: top 0.3s, color 0.9s;
        }
        position: absolute;
        z-index: $ui3-layer;
        gap: 32px;
        height: 90px;
        width: 100%;
        top: -90px;
        left: 0;
        transition: top 0.3s;
        &::before, &::after {
          content: "";
          position: absolute;
          background-color: inherit;
          height: inherit;
          width: 100%;
        }
        &::before {
          left: -100%;
        }
        &::after {
          right: -100%;
        }
        li {
          font-family: var(--normal);
          color: inherit;
          height: inherit;
          align-content: center;
          font-weight: 400;
          line-height: 29px;
          width: max-content;
          font-size: clamp(16px, 1.66vw, 24px);
          &.active {
            border-bottom: 2px var(--red) solid;
          }
          &.callUs {
            display: none;
          }
        }
      }
      .callUs {
        display: flex;
        align-items: center;
        height: 100%;
        a {
          .phoneIcon {
            @include roundIcon;
            width: 40px;
            height: 40px;
          }
        }
        .phoneNumbers {
          display: none;
          &.active {
            font-family: var(--normal);
            color: $color-black;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            gap: 10px;
            width: 184px;
            height: inherit;
          }
        }
      }
      .userMenu {
        display: flex;
        align-items: center;
        gap: 30px;
        max-width: 360px;
        height: inherit;
        a {
          .userIcon {
            @include roundIcon;
            width: 40px;
            height: 40px;
          }
        }
        .search {
          display: none;
        }
      }
      .burgerIcon {
        @include burgerIcon;
        width: 40px;
        height: 40px;
      }
    }
  }
}
@media #{$ui-mobile-interval} {
  header {
    @include header;
    box-shadow: 0 4px 10px 0 $color-darkgrey;
    height: 80px;
    .headerContent {
      @include headerContent;
      justify-content: space-between;
      .logo {
        @include logo;
        cursor: default;
        max-width: 107px;
        max-height: 40px;
      }
      .headerNav {
        background-color: $color-white;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        position: fixed;
        overflow: hidden;
        z-index: inherit;
        width: 100vw;
        height: 0;
        max-height: 100vh;
        left: 0;
        top: 80px;
        transition: height 0.3s ease-in, padding-top 0.3s, padding-bottom 0.3s;
        &.active {
          height: 100vh;
          padding: 30px 0 30px 0;
          transition: height 0.6s ease-out, padding-top 0.3s, padding-bottom 0.3s;
        }
        li {
          color: $color-black;
          text-align: center;
          font-weight: 600;
          line-height: 29px;
          width: 100%;
          font-size: $font-24-mobile;
          &.active {
            color: $color-red;
          }
          &:last-child {
            border-top: 2px $color-red solid;
            padding-bottom: 20px;
          }
          &.callUs {
            background-color: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding-top: 20px;
            button {
              background-color: inherit;
              .phoneIcon {
                @include roundIcon;
                width: 50px;
                height: 50px;
              }
            }
            .phoneNumbers {
              font-family: var(--normal);
              color: $color-black;
              display: flex;
              justify-content: center;
              flex-direction: column;
              text-align: center;
              gap: 10px;
              width: max-content;
              height: inherit;
            }
          }
        }
      }
      .callUs {
        display: none;
      }
      .userMenu {
        display: none;
      }
      .burgerIcon {
        @include burgerIcon;
        width: 40px;
        height: 40px;
      }
    }
  }
}