@mixin roundIcon {
  background-color: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  @media screen and (max-width: 1439px) {
    width: clamp(40px, 3.47vw, 50px);
    height: clamp(40px, 3.47vw, 50px);
  }
}
@mixin burgerIcon {
  @include roundIcon;
  span {
    background-color: var(--white);
    position: relative;
    width: 14px;
    height: 3px;
    margin-right: 4px;
    transition: background-color 0.4s;
    &::before, &::after {
      content: "";
      background-color: var(--white);
      position: absolute;
      width: 20px;
      height: 3px;
      left: 0;
      transition: 0.3s;
    }
    &::before {
      bottom: -6px;
    }
    &::after {
      top: -6px;
    }
  }
  &.active {
    span {
      background-color: transparent;
      transition: background-color 0.2s;
      &::before, &::after {
        left: -1px;
        transition: 0.3s;
      }
      &::before {
        transform: rotate(-45deg);
        bottom: -0;
      }
      &::after {
        transform: rotate(45deg);
        top: -0;
      }
    }
  }
}
@mixin logo {
  display: flex;
  cursor: default;
  img {
    width: 100%;
    height: 100%;
  }
}
@mixin headerContent {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  gap: 30px;
}
@mixin searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 50px;
}
@media screen and (min-width: 1440px) {
  header {
    height: 122px;
    .headerContent {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px var(--grey) solid;
      .logo {
        @include logo;
        max-width: 225px;
        width: 11.71vw;
      }
      .headerNav {
        display: flex;
        align-items: center;
        gap: clamp(20px, 1.66vw, 32px);
        height: 100%;
        li {
          font-family: var(--normal);
          color: var(--black);
          height: inherit;
          align-content: center;
          font-weight: 400;
          line-height: 29px;
          width: max-content;
          font-size: clamp(16px, 1.25vw, 24px);
          &.active {
            border-bottom: 2px var(--red) solid;
          }
        }
      }
      .callUs {
        display: flex;
        align-items: center;
        height: 100%;
        .phoneIcon {
          @include roundIcon;
          width: 50px;
          height: 50px;
        }
        .phoneNumbers {
          font-family: var(--normal);
          color: var(--black);
          display: flex;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          line-height: 19px;
          gap: 10px;
          width: 184px;
          height: inherit;
        }
      }
      .userMenu {
        display: flex;
        align-items: center;
        gap: 30px;
        max-width: 360px;
        height: inherit;
        a {
          .userIcon {
            @include roundIcon;
            width: 50px;
            height: 50px;
          }
        }
        .search {
          background-color: var(--grey);
          display: flex;
          overflow: hidden;
          width: 280px;
          height: 50px;
          border-radius: 20px;
          button, input {
            background-color: inherit;
            height: inherit;
          }
          button {
            @include searchButton;
          }
          input {
            font-family: var(--normal);
            color: var(--black);
            outline: none;
            font-size: 18px;
            padding-left: 12px;
            &::placeholder {
              color: var(--black-opacity);
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1439px) and (min-width: 720px) {
  header {
    height: 90px;
    .headerContent {
      @include headerContent;
      border-bottom: 1px var(--grey) solid;
      .logo {
        @include logo;
        position: absolute;
        width: clamp(107px, 11.71vw, 225px);
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      .headerNav {
        background-color: var(--white);
        display: flex;
        align-items: center;
        position: absolute;
        gap: 32px;
        height: 90px;
        width: 100%;
        top: 90px;
        left: 0;
        &::before, &::after {
          content: "";
          position: absolute;
          background-color: inherit;
          height: inherit;
          width: 100%;
        }
        &::before {
          left: -100%;
        }
        &::after {
          right: -100%;
        }
        li {
          font-family: var(--normal);
          color: var(--black);
          height: inherit;
          align-content: center;
          font-weight: 400;
          line-height: 29px;
          width: max-content;
          font-size: clamp(16px, 1.66vw, 24px);
          &.active {
            border-bottom: 2px var(--red) solid;
          }
        }
      }
      .callUs {
        display: flex;
        align-items: center;
        height: 100%;
        a {
          .phoneIcon {
            @include roundIcon;
            width: 50px;
            height: 50px;
          }
        }
        .phoneNumbers {
          display: none;
          &.active {
            font-family: var(--normal);
            color: var(--black);
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            gap: 10px;
            width: 184px;
            height: inherit;
          }
        }
      }
      .userMenu {
        display: flex;
        align-items: center;
        gap: 30px;
        max-width: 360px;
        height: inherit;
        a {
          .userIcon {
            @include roundIcon;
          }
        }
        .search {
          display: none;
          &.active {
            background-color: var(--grey);
            display: flex;
            overflow: hidden;
            width: 280px;
            height: 50px;
            border-radius: 20px;
            button, input {
              background-color: inherit;
              height: inherit;
            }
            button {
              @include searchButton;
            }
            input {
              font-family: var(--normal);
              color: var(--black);
              outline: none;
              font-size: 18px;
              padding-left: 12px;
              &::placeholder {
                color: var(--black-opacity);
              }
            }
          }
        }
      }
      .burgerIcon {
        @include burgerIcon;
      }
    }
  }
}
@media screen and (max-width: 719px) and (min-width: 320px) {
  header {
    background-color: var(--white);
    box-shadow: 0 4px 10px 0 var(--dark);
    z-index: var(--header-layer);
    height: 80px;
    .headerContent {
      @include headerContent;
      .logo {
        @include logo;
        position: absolute;
        cursor: default;
        width: 107px;
        height: 40px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      .headerNav {
        background-color: var(--white);
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        position: fixed;
        z-index: var(--header-layer);
        height: 100lvh;
        width: 100vw;
        top: 80px;
        left: 0;
        padding: 30px 0 30px 0;
        li {
          font-family: var(--semiBold);
          color: var(--black);
          text-align: center;
          font-weight: 600;
          line-height: 29px;
          width: 100%;
          font-size: 24px;
          &.active {
            color: var(--red);
          }
          &:last-child {
            border-top: 2px var(--red) solid;
            padding-bottom: 20px;
          }
          &.callUs {
            background-color: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding-top: 20px;
            button {
              background-color: inherit;
              .phoneIcon {
                @include roundIcon;
                width: 50px;
                height: 50px;
              }
            }
            .phoneNumbers {
              font-family: var(--normal);
              color: var(--black);
              display: flex;
              justify-content: center;
              flex-direction: column;
              text-align: center;
              gap: 10px;
              width: max-content;
              height: inherit;
            }
          }
        }
      }
      .callUs {
        display: none;
      }
      .userMenu {
        display: none;
      }
      .burgerIcon {
        @include burgerIcon;
      }
    }
  }
}