@import "mixins";
@import "vars";
@media #{$ui-desktop-interval} {
  @include window;
  .wrapper {
    @include wrapper;
    padding-bottom: 150px;
    .mainContent {
      display: flex;
      gap: 30px;
      main {
        @include main;
        .tagBlock {
          width: 100%;
          height: auto;
          img {
            width: 100%;
            height: auto;
          }
        }
        .categories {
          @include categoryList;
          .categoryListMobile {
            display: none;
          }
        }
        .promoCodeMobile {
          display: none;
        }
        .catalogue {
          width: 100%;
          @include section;
          .catalogueList {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            max-width: 1410px;
            .catalogueCard {
              @include catalogueCard;
              .mobileProdContent {
                display: none;
              }
              .modalWrapper {
                background-color: $color-dark;
                position: fixed;
                z-index: $ui5-layer;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                .modal {
                  background-color: $color-white;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  position: absolute;
                  gap: 60px;
                  width: clamp(720px, 57.29vw, 1100px);
                  height: clamp(440px, 31.25vw, 600px);
                  padding: clamp(40px, 3.12vw, 60px);
                  border-radius: 20px;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  img {
                    width: 100%;
                    height: 100%;
                  }
                  button.close {
                    background-color: inherit;
                    position: absolute;
                    cursor: pointer;
                    width: clamp(10px, 1.04vw, 20px);
                    height: clamp(10px, 1.04vw, 20px);
                    top: clamp(37px, 3.12vw, 60px);
                    right: clamp(37px, 3.12vw, 60px);
                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }
                  .mobileProdName {
                    display: none;
                  }
                  .cardDesc {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    text-align: left;
                    width: 100%;
                    height: 100%;
                    .mobileProdPrice, .mobileAddCart {
                      display: none;
                    }
                    .modalContent {
                      display: flex;
                      flex-direction: column;
                      gap: 15px;
                      .prodName {
                        font-weight: 700;
                        font-size: $font-24-desktop;
                      }
                      .prodDesc, .weight, .energyValue span, .energyValue li span {
                        font-weight: 400;
                        font-size: $font-14-desktop;
                      }
                      .energyValue {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        max-width: 390px;
                        li {
                          display: flex;
                          justify-content: space-between;
                        }
                      }
                      .prodPrices {
                        font-weight: 600;
                        font-size: clamp(16px, 1.04vw, 20px);
                      }
                    }
                    .itemChanges {
                      @include itemChanges;
                      width: clamp(138px, 10.15vw, 195px);
                      .counter {
                        font-size: 26px;
                      }
                      button {
                        width: clamp(37px, 3.12vw, 60px);
                        height: clamp(37px, 3.12vw, 60px);
                        font-size: clamp(26px, 1.87vw, 36px);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .openCart {
        display: none;
      }
      aside {
        @include aside;
      }
    }
  }
}
@media #{$ui-tablet-interval} {
  @include window;
  .wrapper {
    @include wrapper;
    padding-bottom: 150px;
    .mainContent {
      display: flex;
      gap: 30px;
      main {
        @include main;
        .tagBlock {
          width: 100%;
          height: auto;
          img {
            width: 100%;
            height: auto;
          }
        }
        .categories {
          @include categoryList;
          .categoryListMobile {
            display: none;
          }
        }
        .promoCodeMobile {
          display: none;
        }
        .catalogue {
          width: 100%;
          @include section;
          .catalogueList {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            max-width: 1410px;
            .catalogueCard {
              @include catalogueCard;
              .mobileProdContent {
                display: none;
              }
              .modalWrapper {
                background-color: $color-dark;
                position: fixed;
                z-index: $ui5-layer;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                .modal {
                  background-color: $color-white;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  position: absolute;
                  gap: 60px;
                  width: clamp(720px, 57.29vw, 1100px);
                  height: clamp(440px, 31.25vw, 600px);
                  padding: clamp(40px, 3.12vw, 60px);
                  border-radius: 20px;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  img {
                    width: 100%;
                    height: 100%;
                  }
                  button.close {
                    background-color: inherit;
                    position: absolute;
                    cursor: pointer;
                    width: clamp(10px, 1.04vw, 20px);
                    height: clamp(10px, 1.04vw, 20px);
                    top: clamp(37px, 3.12vw, 60px);
                    right: clamp(37px, 3.12vw, 60px);
                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }
                  .mobileProdName {
                    display: none;
                  }
                  .cardDesc {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    text-align: left;
                    width: 100%;
                    height: 100%;
                    .mobileProdPrice, .mobileAddCart {
                      display: none;
                    }
                    .modalContent {
                      display: flex;
                      flex-direction: column;
                      gap: 15px;
                      .prodName {
                        font-weight: 700;
                        font-size: $font-24-desktop;
                      }
                      .prodDesc, .weight, .energyValue span, .energyValue li span {
                        font-weight: 400;
                        font-size: $font-14-desktop;
                      }
                      .energyValue {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        max-width: 390px;
                        li {
                          display: flex;
                          justify-content: space-between;
                        }
                      }
                      .prodPrices {
                        font-weight: 600;
                        font-size: clamp(16px, 1.04vw, 20px);
                      }
                    }
                    .itemChanges {
                      @include itemChanges;
                      width: clamp(138px, 10.15vw, 195px);
                      .counter {
                        font-size: 26px;
                      }
                      button {
                        width: clamp(37px, 3.12vw, 60px);
                        height: clamp(37px, 3.12vw, 60px);
                        font-size: clamp(26px, 1.87vw, 36px);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      button.openCart {
        @include openCart;
        right: 20px;
        transition: right 0.3s;
        &.active {
          right: 380px;
          transition: right 0.4s;
        }
      }
      a.openCart {
        display: none;
      }
      aside {
        @include aside;
        position: fixed !important; //redefine style
        top: 125px !important; //redefine style
        right: -360px;
        transition: right 0.3s;
        &.active {
          right: 0;
          transition: right 0.4s;
        }
        .promoCode {
          display: none;
        }
        .cart {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }
}
@media #{$ui-mobile-interval} {
  @include window;
  .wrapper {
    @include wrapper;
    padding-bottom: 80px;
    .mainContent {
      main {
        .tagBlock {
          display: none;
        }
        .categories {
          @include categoryList;
        }
        .promoCodeMobile {
          @include promoCode;
          position: relative;
          font-size: $font-16-mobile;
          button {
            width: max-content;
            font-size: inherit;
            padding: 0 15px;
            border-radius: 5px;
          }
          input {
            color: $color-black;
            font-size: inherit;
            border-radius: 5px;
            &::placeholder {
              color: $color-dark;
            }
          }
        }
        .catalogue {
          .sectionTitle {
            padding: 15px 0;
          }
          .catalogueList {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .catalogueCard {
              display: flex;
              align-items: flex-start;
              gap: 20px;
              width: clamp(284px, 100%, 599px);
              min-height: 124px;
              img {
                width: clamp(100px, 17.38vw, 125px);
                height: auto;
              }
              .prodName {
                display: none;
              }
              .mobileProdContent {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                .prodNameMobile {
                  font-weight: 600;
                  font-size: $font-16-mobile;
                }
                .prodDesc {
                  text-align: left;
                  width: clamp(140px, 27.81vw, 200px);
                  font-size: 10px;
                }
                .addToCart {
                  @include buttonAnc;
                  white-space: nowrap;
                  width: clamp(164px, 45.20vw, 325px);
                  font-size: $font-14-mobile;
                  padding: 0 15px;
                }
              }
              .catalogueCardPanel {
                .prodPrices, .itemChanges {
                  display: none;
                }
              }
              .modalWrapper {
                background-color: $color-white;
                position: fixed;
                overflow: auto;
                z-index: $ui5-layer;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                padding: 20px 0 40px 0;
                .modal {
                  background-color: inherit;
                  display: flex;
                  align-items: center;
                  flex-direction: column;
                  text-align: center;
                  gap: 60px;
                  z-index: $ui5-layer;
                  width: clamp(280px, 59.1vw, 425px);
                  min-height: max-content;
                  margin: 0 auto;
                  .mobileProdName {
                    font-weight: 600;
                    font-size: $font-24-mobile;
                  }
                  .mobileProdName {
                    width: 100%;
                  }
                  img {
                    width: 100%;
                    height: auto;
                  }
                  button.close {
                    background-color: inherit;
                    position: absolute;
                    cursor: pointer;
                    width: 30px;
                    height: 30px;
                    top: 5.56vw;
                    left: 5.56vw;
                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }
                  .cardDesc {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    text-align: left;
                    gap: 30px;
                    position: relative;
                    width: 100%;
                    height: max-content;
                    .modalContent {
                      display: flex;
                      flex-direction: column;
                      text-align: center;
                      gap: 15px;
                      order: 2;
                      width: 100%;
                      .prodName {
                        display: none;
                      }
                      .prodDesc, .weight, .energyValue span, .energyValue li span {
                        font-weight: 400;
                        font-size: 14px;
                      }
                      .energyValue {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        li {
                          display: flex;
                          justify-content: space-between;
                        }
                      }
                    }
                    .mobileProdPrice {
                      align-self: flex-start;
                      font-weight: 600;
                      line-height: 40px;
                      width: 100%;
                      font-size: $font-24-mobile;
                      margin: 0 auto;
                      span {
                        font-size: $font-18-static;
                      }
                    }
                    .mobileAddCart {
                      @include buttonAnc;
                      width: 100%;
                      border-radius: 10px;
                    }
                    .itemChanges {
                      @include itemChanges;
                      position: absolute;
                      top: 0;
                      right: 0;
                      width: clamp(80px, 15.02vw, 108px);
                    }
                  }
                }
              }
            }
          }
        }
      }
      button.openCart {
        display: none;
      }
      a.openCart {
        @include openCart;
      }
      aside {
        display: none;
      }
    }
  }
}