@media screen and (max-width: 719px) {
  .wrapper main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    padding-top: 30px;
  }
  .wrapper main .phone .phoneContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    width: clamp(280px, 87.5vw, 425px);
  }
  .wrapper main .phone .phoneContent p {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
  }
  .wrapper main .phone .phoneContent form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .wrapper main .phone .phoneContent form input {
    border: 1px rgb(161, 164, 177) solid;
    width: 100%;
    height: 35px;
    padding-left: 15px;
    border-radius: 4px;
  }
  .wrapper main .phone .phoneContent form input::-webkit-input-placeholder {
    color: rgb(161, 164, 177);
  }
  .wrapper main .phone .phoneContent form input::-moz-placeholder {
    color: rgb(161, 164, 177);
  }
  .wrapper main .phone .phoneContent form input:-ms-input-placeholder {
    color: rgb(161, 164, 177);
  }
  .wrapper main .phone .phoneContent form input::-ms-input-placeholder {
    color: rgb(161, 164, 177);
  }
  .wrapper main .phone .phoneContent form input::placeholder {
    color: rgb(161, 164, 177);
  }
  .wrapper main .phone .phoneContent form a, .wrapper main .phone .phoneContent form button {
    width: 100%;
    height: 40px;
    border-radius: 10px;
  }
  .wrapper main .phone .phoneContent form a {
    background-color: rgb(255, 255, 255);
    color: rgb(227, 30, 36);
    border: 1px rgb(227, 30, 36) solid;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
  }
}
@media screen and (max-width: 719px) and (max-width: 719px) {
  .wrapper main .phone .phoneContent form a {
    cursor: default;
  }
}
@media screen and (max-width: 719px) {
  .wrapper main .phone .phoneContent form button {
    background-color: rgb(227, 30, 36);
    color: rgb(255, 255, 255);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    font-weight: 600;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    -webkit-transition: 0.2s background-color, opacity;
    transition: 0.2s background-color, opacity;
  }
  .wrapper main .phone .phoneContent form button:hover, .wrapper main .phone .phoneContent form button:focus {
    background-color: rgb(255, 255, 255);
    border: 1px rgb(227, 30, 36) solid;
    color: rgb(227, 30, 36);
    -webkit-transition: 0.2s background-color;
    transition: 0.2s background-color;
  }
  .wrapper main .phone .phoneContent form button:hover.disable:hover, .wrapper main .phone .phoneContent form button:hover.disable:focus, .wrapper main .phone .phoneContent form button:focus.disable:hover, .wrapper main .phone .phoneContent form button:focus.disable:focus {
    background-color: rgb(227, 30, 36);
    color: rgb(255, 255, 255);
  }
  .wrapper main .phone .phoneContent form button.disable {
    opacity: 0.5;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
}
@media screen and (max-width: 719px) and (max-width: 719px) {
  .wrapper main .phone .phoneContent form button {
    cursor: default;
  }
}