@import "visual";
@media screen and (max-width: 719px) {
  .wrapper {
    main {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-top: 30px;
      .targets {
        .targetsContent {
          .controls {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;
            h1 {
              font-weight: 600;
              width: 100%;
              font-size: 24px;
            }
            button {
              border: 1px var(--black) solid;
              opacity: 0.6;
              font-weight: 600;
              width: 41.66vw;
              height: 35px;
              font-size: 14px;
              border-radius: 10px;
              transition: all 0.3s;
              &.active {
                background-color: var(--red);
                color: var(--white);
                border: none;
                opacity: 1;
                transition: all 0.3s;
              }
            }
          }
          .targetList {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 30px 0;
            .targetItem {
              display: flex;
              flex-direction: column;
              gap: 5px;
              position: relative;
              width: 100%;
              padding: 20px 15px;
              span {
                line-height: 15px;
                font-size: clamp(12px, 1.94vw, 14px);
                &.targetName, &.targetDeliveryTime {
                  font-weight: 500;
                }
              }
              .targetSelect {
                @include radioButton;
                position: absolute;
                top: 50%;
                right: 30px;
                .targetInfo {
                  @include targetAlert;
                  background-color: var(--white);
                  color: var(--red);
                  border: 2px var(--red) solid;
                }
              }
            }
          }
          .targetMap {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 30px;
            padding: 30px 0 0;
            .selectedTarget {
              color: var(--red);
              font-weight: 500;
              line-height: 30px;
              font-size: 14px;
              &::first-line {
                color: var(--black);
              }
            }
          }
        }
      }
      .pickup {
        .pickupContent {
          display: flex;
          flex-direction: column;
          gap: 15px;
          padding-bottom: 25px;
          .collapsible {
            display: flex;
            flex-direction: column;
            gap: 15px;
            span {
              font-weight: 600;
              font-size: 12px;
            }
            .pickupTime {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              gap: 15px;
              li {
                display: none;
                overflow: hidden;
                label {
                  @include timeSet-Radio;
                }
              }
              li.visible, .showMore button {
                @include timeSetButton;
              }
            }
          }
          .pickupFor {
            @include whiteButton;
            width: 100%;
            height: 40px;
          }
          button {
            @include buttonAnc;
            width: 100%;
          }
        }
      }
    }
  }
}