@import "mixins";
@import "vars";
@media screen and #{$ui-mobile} {
  @include window;
  .wrapper {
    @include wrapper;
    main {
      padding-top: 30px;
      .targets {
        .targetsContent {
          .controls {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;
            h1 {
              font-weight: 600;
              width: 100%;
              font-size: $font-24-static;
            }
            button {
              background-color: $color-white;
              color: $color-black;
              border: 1px $color-black solid;
              opacity: 0.6;
              font-weight: 600;
              width: calc(50% - 10px);
              height: 35px;
              font-size: $font-14-static;
              border-radius: 10px;
              transition: all 0.3s;
              &.active {
                background-color: $color-red;
                color: $color-white;
                border: none;
                opacity: 1;
                transition: all 0.3s;
              }
            }
          }
          .targetList {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 30px 0;
            .targetItem {
              @include pickupTarget;
              width: 100%;
            }
          }
          .targetMap {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 30px;
            padding: 30px 0 0;
            .selectedTarget {
              color: $color-red;
              font-weight: 500;
              line-height: 30px;
              font-size: $font-14-static;
              &::first-line {
                color: $color-black;
              }
            }
          }
        }
      }
      .pickup {
        margin-top: 30px;
        .pickupContent {
          display: flex;
          flex-direction: column;
          gap: 15px;
          padding-bottom: 25px;
          .collapsible {
            display: flex;
            flex-direction: column;
            gap: 15px;
            span {
              font-weight: 600;
              font-size: $font-12-static;
            }
            .pickupTime {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              gap: 15px;
              li {
                display: none;
                overflow: hidden;
                label {
                  @include timeSet-Radio;
                }
              }
              li.visible, .showMore button {
                @include timeSetButton;
              }
            }
          }
          .pickupFor {
            @include whiteButton;
            width: 100%;
            height: 40px;
          }
          button {
            @include buttonAnc;
            width: 100%;
          }
        }
      }
    }
  }
}